<%= render 'partials/nav_home' %>
<%= render 'partials/login' %>
<%= render 'partials/signup' %>

<head>
	<link href='https://fonts.googleapis.com/css?family=Arvo:700' rel='stylesheet' type='text/css'>
</head>
<div class="plate">
  <p class="script"><span>Welcome</span></p>
  <p class="shadow text1">TO THE</p>
  <p class="shadow text2">eBarter</p>
  <p class="shadow text3">WEBSITE</p>
  <br>
  <p class="script"><span>by Tom Rehnert</span></p>
</div>
