body {
	background-color: #0099ff;
}


/*ITEMS FORMATTING PINTEREST*/

.items_container {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}

.items_list {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.items_list img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.items_list p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}


/*BARTER PAGE FORMATTING*/

.barter_their_half {
	margin-top: -5vh;
	width: 50%;
	height: 96vh;
	position: fixed;
	z-index: -10;
}

.their_item {
	background-color: grey;
	width: 50vh;
}

.their_item img {
	width: 48vh;
	margin: 1vh;
}

.barter_your_half {
	margin-top: -5vh;
	margin-left: 50%;
	width: 50%;
	height: 96vh;
	background-color: purple;
}

.your_item {
	background-color: grey;
	width: 50vh;
}

.your_list img {
	width: 48vh;
	margin: 1vh;
}















