<!DOCTYPE html>
<html>
<head>
  <title>eBarter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="http://www.rongfa.biz/assets/templates/main/images/icon-7.png">
</head>
<body>

<!-- <a href="/items/new">Make a New Record</a><br> -->

<%= yield %>

</body>
</html>
